{% extends "pages/base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="email_form">
        <h2 style="font-size: 2.5rem; font-weight: 300; line-height: 1.2; font-variant-caps: all-small-caps;">&gt;Mitta.Us</h2>
        {% if op == "1" %}
        <form autocomplete="off" id="form-{{app_id}}" action="/email?op=1" method="post">
        {% else %}
        <form autocomplete="off" id="{{app_id}}" action="/email" method="post">
        {% endif %}
          <div class="form-group">
          {% if op == "1" %}
            <label>Enter your email address to get going!</label>
          {% elif session %}
            <label>Verify your email address, again.</label>
          {% elif email %}
            <label>Hit enter or click submit to get a login token by email.</label>
          {% else %}
            <label>Enter your email address.</label>
          {% endif %}
            <input autofocus id="email-{{app_id}}" type="email" class="form-control" name="email" placeholder="fluffernutter@gmail.com">
            <input id="password" type="password" class="form-control" name="password" placeholder="There are no passwords, so just click login or submit. This is for bots.">
            {% if next_url %}
            <input type="hidden" name="next" value="{{next_url}}">
            {%endif%}
            <input type="hidden" name="op" value="0">
            {% if use_token == "1" %}
            <input type="hidden" name="use_token" value="1">
            {% endif %}
            <input type="hidden" name="transaction_id" value="{{transaction_id}}">
            <small class="form-text text-muted">
              {% for message in get_flashed_messages() %}
              <div class="flash">{{ message }}</div>
              {% endfor %}
            </small>
          </div>
          {% if op == "1" %}
          <button type="submit" class="btn btn-primary" title="Next is to enter your phone number.">Next</button>
          {% elif session %}
          <button type="submit" class="btn btn-primary" title="Time to login.">Login</button>
          {% else %}
          <button type="submit" class="btn btn-primary" title="Get a link to login via email.">Submit</button>
          {% endif %}
          <a href="/" class="btn btn-danger" title="Leave this place.">Cancel</a>

        </form>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  $('#password').remove(); // for the bots

  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      console.log("default triggered");
      $("{{app_id}}").submit();
      prevent = setTimeout(function() {
        event.preventDefault();
      }, 1000);
    }
  });
  if ("{{email}}" != "None") {
    $("#email-{{app_id}}").val("{{email}}");
  }
});
</script>
{% endblock %}